In [ ]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix

**Importing the dataset**

In [3]:
df = pd.read_csv("Social_Network_Ads (1).csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
del df['User ID']
df['Gender'] = df['Gender'].map({'Male':1,'Female':0})

**Splitting the dataset into the Training set and Test set**

In [5]:
x = df.drop(['Purchased','Gender'],axis=1)
y = df['Purchased']
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

**Feature Scaling**

In [6]:
mx = MinMaxScaler()
mx.fit(X_train)
for i in ['Age','EstimatedSalary']:
  X_train[[i]] = mx.fit_transform(X_train[[i]])

mx.fit(X_test)
for i in ['Age','EstimatedSalary']:
  X_test[[i]] = mx.fit_transform(X_test[[i]])

**Fitting K-NN to the Training set**

In [10]:
k = []
score = [] 
for i in range(2,10):
  knn = KNeighborsClassifier(n_neighbors=i)
  knn.fit(X_train,y_train)
  k.append(i)
  score.append(np.mean(cross_val_score(knn,X_train,y_train)))
  print("depth :", i, "training score :", knn.score(X_train,y_train), "cross_val_score :", np.mean(cross_val_score(knn,X_train,y_train)))

depth : 2 training score : 0.928125 cross_val_score : 0.8375
depth : 3 training score : 0.93125 cross_val_score : 0.88125
depth : 4 training score : 0.921875 cross_val_score : 0.878125
depth : 5 training score : 0.925 cross_val_score : 0.890625
depth : 6 training score : 0.9125 cross_val_score : 0.890625
depth : 7 training score : 0.91875 cross_val_score : 0.89375
depth : 8 training score : 0.915625 cross_val_score : 0.890625
depth : 9 training score : 0.91875 cross_val_score : 0.89375

**Predicting the Test set results**

In [13]:
knn = KNeighborsClassifier(n_neighbors=9)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=9)

In [15]:
y_pred = knn.predict(X_test)

**Making the Confusion Matrix**

In [16]:
confusion_matrix(y_test,y_pred)

array([[51,  5],
       [ 2, 22]])